.loader {
  background: #fff;
  opacity: 0.9;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 4s linear forwards;
}

.loader__item__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__item__container .loader__container {
  -webkit-animation: animball_two 1s infinite linear;
  -moz-animation: animball_two 1s infinite linear;
  -ms-animation: animball_two 1s infinite linear;
  animation: animball_two 1s infinite linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 4;
  width: 184px;
  height: 184px;
}

.ballcolor {
  width: 184px;
  height: 184px;
  border-radius: 50%;
}

.ball_1, .ball_2, .ball_3, .ball_4 {
  position: absolute;
}

.ball_1 {
  border: 5px solid #ff79da;
  top: 0;
  left: 12px;
}

.ball_2 {
  border: 5px solid #99e2d0;
  top: 0;
  left: -17px;
}

.ball_3 {
  border: 5px solid #9356dc;
  top: 12px;
  left: 0;
}

.ball_4 {
  border: 5px solid #9356dc;
  top: -12px;
  left: 0;
}

@-webkit-keyframes animball_two {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes animball_two {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes animball_two {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@keyframes animball_two {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0%, 99% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.menu__item {
  animation: slideup 1s forwards;
}

.menu__item:nth-child(2) {
  animation-delay: 300ms;
}

.menu__item:nth-child(3) {
  animation-delay: 400ms;
}

.menu__item:nth-child(4) {
  animation-delay: 500ms;
}

.menu__item:nth-child(5) {
  animation-delay: 600ms;
}

.menu__item:nth-child(6) {
  animation-delay: 700ms;
}

.menu__item:nth-child(7) {
  animation-delay: 900ms;
}

.menu__item:nth-child(8) {
  animation-delay: 1000ms;
}

.menu__item:nth-child(9) {
  animation-delay: 900ms;
}

@keyframes slideup {
  0% {
    transform: translatey(-120px);
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}
/*  ANIMATION HOME PAGE ICONS */
.menu__btn {
  position: relative;
  left: 85%;
  top: -55px;
  display: block;
  width: 0;
  font-size: 0.8rem;
}

.fav__icon--add {
  opacity: 1;
  color: #000;
}

.fav__icon--add:hover {
  opacity: 0;
  transform: scale(0);
}

.fav__icon {
  opacity: 0;
  position: absolute;
  top: 0;
}

.fav__icon:hover {
  opacity: 1;
  background-image: linear-gradient(184deg, #9356dc 10%, #ff79da 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.7s ease-in-out;
}

.favorite__icon {
  opacity: 0;
  cursor: pointer;
  grid-area: 1/2;
  position: relative;
  width: 28px;
  height: 28px;
}
.favorite__icon:hover {
  background-image: linear-gradient(184deg, #9356dc 10%, #ff79da 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
  transition: 0.7s ease-in-out;
  width: min-content;
  opacity: 1;
  transform: scale(1.1);
}
@media screen and (max-width: 992px) {
  .favorite__icon:hover {
    width: min-content;
  }
}
@media screen and (max-width: 768px) {
  .favorite__icon:hover {
    width: 100%;
  }
}

.favorite__icon--add {
  opacity: 1;
  cursor: pointer;
  grid-area: 1/2;
  width: 28px;
  height: 28px;
  min-height: auto;
  min-width: auto;
  display: block;
}
.favorite__icon--add:hover {
  opacity: 0;
}

.menu__item__confirmation {
  background-color: #99e2d0;
  cursor: pointer;
  height: auto;
  width: 0;
  opacity: 0;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
}

.menu__item:hover .menu__item__confirmation {
  width: 18%;
  transition: 0.4s ease-in;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .menu__item:hover .menu__item__confirmation {
    width: 20%;
  }
}

span.check__icon {
  color: #fff;
  font-size: 2.3rem;
  transform: rotate(0deg);
}
@media screen and (max-width: 768px) {
  span.check__icon {
    font-size: 1.9rem;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  font-family: "Shrikhand";
  font-size: 2.5rem;
  z-index: 2;
  height: 4.3rem;
  top: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background: #fff;
  cursor: pointer;
}
.header__logo {
  height: 30px;
  width: 173px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header__logo {
    width: 160px;
  }
}

.material-icons {
  font-size: 28px;
}

.arrow__icon {
  position: absolute;
  cursor: pointer;
  left: 20px;
  top: 22px;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .arrow__icon {
    left: 9px;
    font-size: 1.5rem;
  }
}

.order__action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__btn {
  color: #fff;
  padding: 1.3rem 4.5rem;
  text-align: center;
  background: linear-gradient(350deg, #9356dc 10%, #ff79da 100%);
  width: min-content;
  white-space: nowrap;
  margin: 4rem auto;
  border-radius: 10rem;
  box-shadow: 0px 6px 20px -4px rgba(105, 105, 105, 0.75);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .order__btn {
    padding: 1.1rem 3.5rem;
    font-size: 1rem;
  }
}
.order__btn:hover {
  filter: brightness(110%);
  box-shadow: -1px 8px 38px 1px rgba(125, 124, 124, 0.75);
}

@media screen and (max-width: 650px) {
  .order__btn-home {
    padding: 1.1rem 2rem;
  }
}

.material-icons {
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  .material-icons {
    font-size: 1.5rem;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .hero {
    background-color: #eaeaea;
  }
}
.hero--position {
  padding: 5rem 2rem;
  background-image: repeating-linear-gradient(105deg, transparent 0px, transparent 3px, white 3px, white 28px), repeating-linear-gradient(333deg, transparent 0px, transparent 3px, white 3px, white 28px), linear-gradient(90deg, #ff79da, #ec7485, #99e2d0, #a7ec74, #74eca7, #9356dc, #8574ec);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .hero--position {
    background-image: none;
    background-color: #f6f6f6;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
  }
}

.hero__title {
  font-size: 2.1rem;
  text-align: center;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 1.6rem;
    padding-bottom: 1.1rem;
  }
}

.hero__byline {
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .hero__byline {
    font-size: 1rem;
    text-align: center;
  }
}

.hero__img {
  object-fit: cover;
  background-size: cover;
  width: 100%;
  max-height: 30rem;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .hero__img {
    max-height: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding-top: 3.5rem;
  }
}
.home .home__title {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
@media screen and (max-width: 768px) {
  .home .home__title {
    justify-content: start;
    background: #f6f6f6;
    padding: 2rem 0rem 1.5rem 9.2rem;
    margin: 0;
    font-size: 22px;
  }
}
@media screen and (max-width: 650px) {
  .home .home__title {
    padding: 2rem 0rem 1.5rem 1.2rem;
  }
}
.home .home__title::after {
  content: "";
  width: 8.6rem;
  height: 0.3rem;
  background: linear-gradient(90deg, #99e2d0 49%, #9356dc 72%, #ff79da 100%);
  position: absolute;
  bottom: -12px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 0px rgba(104, 245, 177, 0.75);
}
@media screen and (max-width: 768px) {
  .home .home__title::after {
    display: none;
  }
}

.home__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .home__container {
    justify-content: center;
    margin: 0;
    padding-top: 0;
    background-color: #f6f6f6;
  }
}
.home__container .home__cards {
  width: 29rem;
  height: 280px;
  border-radius: 20px;
  margin: 1.5rem 3rem;
  position: relative;
  box-shadow: 0px 31px 40px -8px rgba(218, 218, 218, 0.75);
}
@media screen and (max-width: 768px) {
  .home__container .home__cards {
    margin: 0 0 1.5rem 0;
    max-width: 100%;
    height: 255px;
  }
}
.home__container .home__cards:hover {
  filter: brightness(110%);
  box-shadow: -1px 8px 38px 1px rgba(125, 124, 124, 0.75);
}

.card__badge {
  position: absolute;
  left: 365px;
  bottom: 225px;
  background: #99e2d0;
  padding: 0.6rem;
  color: #01946f;
  border-radius: 3px;
}
@media screen and (max-width: 768px) {
  .card__badge {
    font-size: 15px;
    font-weight: 600;
    border-radius: 2px;
    top: 4%;
    left: 79%;
    right: 3%;
    width: 80px;
    height: 35px;
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  .card__badge {
    left: 75%;
  }
}

.card__img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 180px;
}

.card__content {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  border-radius: 0 0 20px 20px;
  line-height: 33px;
}
@media screen and (max-width: 768px) {
  .card__content {
    line-height: 20px;
  }
}
.card__content .card__title {
  color: #000;
  padding: 0.6em 0 0.4rem 0.9rem;
}

.card__location {
  color: #000;
  padding: 0 0 0.9rem 0.9rem;
}

main {
  position: relative;
}

.location {
  background: #eaeaea;
  font-weight: 500;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px solid #ececec;
  border-top: 3px inset rgba(255, 255, 255, 0.16);
}
.location .location__text {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 0.7rem;
}
@media screen and (max-width: 768px) {
  .location .location__text {
    font-size: 1.1em;
    font-weight: 500;
  }
}

.operation {
  padding: 6rem 2rem;
}
@media screen and (max-width: 992px) {
  .operation {
    padding: 3.8rem;
  }
}
@media screen and (max-width: 768px) {
  .operation {
    padding: 0;
    width: 68%;
    margin: auto;
  }
}
@media screen and (max-width: 650px) {
  .operation {
    width: 100%;
  }
}
.operation__title {
  margin: 0 0 5rem 4.5rem;
  position: relative;
}
@media screen and (max-width: 992px) {
  .operation__title {
    margin: 0rem auto 3rem 10rem;
  }
}
@media screen and (max-width: 768px) {
  .operation__title {
    display: flex;
    justify-content: start;
    margin: 3rem 0rem 2rem 1rem;
    font-size: 22px;
  }
}
.operation__title::after {
  content: "";
  width: 11rem;
  height: 0.3rem;
  background: linear-gradient(90deg, #99e2d0 49%, #9356dc 72%, #ff79da 100%);
  box-shadow: 0px 2px 5px 0px rgba(104, 245, 177, 0.75);
  position: absolute;
  bottom: -12px;
  left: 0;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .operation__title::after {
    display: none;
  }
}

.operation__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media screen and (max-width: 992px) {
  .operation__container {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .operation__container {
    margin: auto 0.9rem;
  }
}

.order__card {
  background: #ececec;
  padding: 1.5rem 3.5rem;
  box-shadow: 0px 5px 20px 0px #c0c0c0;
  border-radius: 2rem;
  margin: 0rem 1rem 2rem 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 992px) {
  .order__card {
    margin: 1.5rem;
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .order__card {
    width: 95%;
    margin: 0rem auto 2rem auto;
  }
}
@media screen and (max-width: 650px) {
  .order__card {
    margin: 0rem auto 1rem auto;
    padding: 1.5rem 2.5rem;
    gap: 0rem;
  }
}

.order__card:hover {
  background: #f5edff;
}

@media screen and (max-width: 768px) {
  .order__card--colored {
    background: #f5edff;
  }
}

.order__card__number {
  background: #9356dc;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  left: -0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .order__card__number {
    width: 1.5rem;
    height: 1.5rem;
    left: -0.5rem;
  }
}

.order__text {
  margin: auto;
}
@media screen and (max-width: 650px) {
  .order__text {
    font-size: 0.9rem;
  }
}

.order__icon--colored {
  color: #9356dc;
}

.order__icon--classic {
  color: #7e7e7e;
}

/**  SECTION MENU STARTS  **/
.menu__container {
  padding: 3rem;
  border-radius: 0;
}
@media screen and (max-width: 768px) {
  .menu__container {
    width: 100%;
    border-radius: 3rem 3rem 0 0;
    background: #f6f6f6;
    padding: 2rem 1rem;
    position: relative;
    margin-top: -4rem;
  }
}

.menu__header {
  margin-top: 2rem;
  margin-bottom: 3rem;
  gap: 2.5rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .menu__header {
    margin-top: 0;
    margin-bottom: 2rem;
    display: grid;
    place-content: space-between;
  }
}
.menu__header .menu__title {
  font-family: "Shrikhand";
  font-size: 2.2rem;
  font-style: italic;
  text-align: end;
}
@media screen and (max-width: 768px) {
  .menu__header .menu__title {
    font-size: 1.5rem;
    text-align: start;
    margin-left: 0;
    padding-right: 2.5rem;
    padding-bottom: 0.5rem;
  }
}

/**  SECTION MENU-PRESENTATION STARTS  **/
.menus__presentation {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 2rem;
  gap: 2rem;
}
@media screen and (max-width: 992px) {
  .menus__presentation {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.menus__presentation .menu__description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .menus__presentation .menu__description {
    gap: 1rem;
  }
}

.menu__description__title {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
}
@media screen and (max-width: 992px) {
  .menu__description__title {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .menu__description__title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
.menu__description__title::after {
  content: "";
  width: 4.2rem;
  height: 0.3rem;
  background: linear-gradient(90deg, #99e2d0 49%, #9356dc 72%, #ff79da 100%);
  box-shadow: 0px 2px 5px 0px rgba(104, 245, 177, 0.75);
  position: absolute;
  bottom: -1.1rem;
  left: 0;
}
@media screen and (max-width: 768px) {
  .menu__description__title::after {
    width: 2.2rem;
    height: 0.2rem;
    background: #99e2d0;
    box-shadow: none;
    bottom: -0.5rem;
  }
}

.menu__item {
  background: #fff;
  height: 5rem;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .menu__item {
    height: 4.5rem;
  }
}
.menu__item .menu__item__content {
  padding: 1rem;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .menu__item .menu__item__content {
    font-size: 0.9rem;
  }
}

.menu__item__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
}
.menu__item__text .menu__item__title {
  font-size: 1.1rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
  .menu__item__text .menu__item__title {
    font-size: 1rem;
  }
}
.menu__item__text .menu__item__title .menu__item__information {
  font-size: 1rem;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 768px) {
  .menu__item__text .menu__item__title .menu__item__information {
    font-size: 0.9rem;
  }
}

.menu__item__price {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
}

footer {
  background: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  footer {
    justify-content: start;
  }
}

.footer__container {
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }
}
.footer__container .footer__logo {
  font-size: 1.2rem;
  color: #fff;
  font-family: "Shrikhand";
  display: flex;
  margin: 0rem 0 2rem 0;
  justify-content: start;
}
@media screen and (max-width: 768px) {
  .footer__container .footer__logo {
    margin: 0;
  }
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .footer__list {
    align-items: start;
    margin: 0rem 0rem 1rem 0;
    flex-direction: column;
  }
}
.footer__list .footer__content {
  margin-right: 4rem;
}
@media screen and (max-width: 992px) {
  .footer__list .footer__content {
    margin-right: 2.2rem;
  }
}
@media screen and (max-width: 768px) {
  .footer__list .footer__content {
    height: 35px;
    padding: 1.2rem 0;
  }
}
.footer__list .footer__link {
  color: #fff;
}

.footer__icon {
  margin-right: 10px;
}
.footer__icon .fas.fa-utensils {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .footer__icon .fas.fa-utensils {
    margin-right: 17px;
  }
}
.footer__icon .fas.fa-hands-helping {
  opacity: 1;
  transform: rotate(-13deg);
}

/*# sourceMappingURL=style.css.map */
