header {
  font-family: "Shrikhand";
  font-size: 2.5rem;
  z-index: 2;
  height: 4.3rem;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background: #fff;
  cursor: pointer;
}
header .header__logo {
  height: 30px;
  width: 173px;
}

.material-icons {
  font-size: 28px;
}

.header {
  font-family: "Shrikhand";
  font-size: 2.5rem;
  z-index: 2;
  height: 4.3rem;
  top: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background: #fff;
  cursor: pointer;
}
.header__logo {
  height: 30px;
  width: 173px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow__icon {
  position: absolute;
  cursor: pointer;
  left: 20px;
  top: 22px;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .arrow__icon {
    left: 9px;
    font-size: 1.5rem;
  }
}

main {
  position: relative;
}

.location {
  background: #e6e6e6;
  font-weight: 500;
  padding: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px solid #ececec;
  border-top: 3px inset rgba(255, 255, 255, 0.16);
}
.location__text {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 0.7rem;
}
@media screen and (max-width: 768px) {
  .location__text {
    font-size: 1.1em;
    font-weight: 500;
  }
}

.operation {
  padding: 6rem 2rem;
}
@media screen and (max-width: 992px) {
  .operation {
    padding: 3.8rem;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .operation {
    padding: 0;
  }
  .operation__title {
    margin: 0 0 5rem 4.5rem;
    position: relative;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) and (max-width: 992px) {
  .operation__title {
    margin: 0rem auto 3rem 10rem;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) and (max-width: 992px) and (max-width: 768px) {
  .operation__title {
    display: flex;
    justify-content: start;
    margin: 3rem 0rem 2rem 1rem;
    font-size: 22px;
  }
  .operation__title::after {
    content: "";
    width: 11rem;
    height: 0.3rem;
    background: linear-gradient(90deg, #99e2d0 49%, #9356dc 72%, #ff79da 100%);
    box-shadow: 0px 2px 5px 0px rgba(104, 245, 177, 0.75);
    position: absolute;
    bottom: -12px;
    left: 0;
    border-radius: 8px;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) and (max-width: 992px) and (max-width: 768px) and (max-width: 768px) {
  .operation__title::after {
    display: none;
  }
}

.operation__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media screen and (max-width: 992px) {
  .operation__container {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .operation__container {
    margin: auto 0.9rem;
  }
}

.order__card {
  background: #ececec;
  padding: 1.5rem 3.5rem;
  box-shadow: 0px 5px 20px 0px #c0c0c0;
  border-radius: 2rem;
  margin: 0rem 1rem 2rem 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 992px) {
  .order__card {
    margin: 1.5rem;
    width: 60%;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .order__card {
    width: 95%;
    margin: 0rem auto 1rem auto;
    padding: 1.5rem 1.8rem;
  }
  .order__card:hover {
    background: #ebdefa;
  }
}

@media screen and (max-width: 768px) {
  .order__card--colored {
    background: #ebdefa;
  }
  .order__card--colored__number {
    background: #9356dc;
    color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    left: -0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .order__card--colored__number {
    width: 1.5rem;
    height: 1.5rem;
    left: -0.5rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) and (max-width: 768px) {
  .order__card--colored__number__text {
    font-size: 1rem;
  }
}

.order__icon--colored {
  color: #9356dc;
}
.order__icon--colored--classic {
  color: #5f5f5f;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .hero {
    background-color: #f2f2f2;
  }
  .hero--position {
    padding: 5rem 2rem;
    background-image: linear-gradient(270deg, #f5f7fa 0%, #e1fff3 100%);
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .hero--position {
    background-color: #edeaed;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
  }
}

.hero__title {
  font-size: 2.1rem;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 1.6rem;
    padding-bottom: 1.1rem;
  }
  .hero__title__byline {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .hero__title__byline {
    font-size: 1rem;
  }
}

.hero__img {
  object-fit: cover;
  background-size: cover;
  width: 100%;
  max-height: 30rem;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .hero__img {
    max-height: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding-top: 3.5rem;
  }
  .home__title {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .home__title {
    justify-content: start;
    background: #f2f2f2;
    padding: 2rem 0rem 1.5rem 1.2rem;
    margin: 0;
  }
  .home__title::after {
    content: "";
    width: 8.6rem;
    height: 0.3rem;
    background: linear-gradient(90deg, #99e2d0 49%, #9356dc 72%, #ff79da 100%);
    position: absolute;
    bottom: -12px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0px rgba(104, 245, 177, 0.75);
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) and (max-width: 768px) {
  .home__title::after {
    display: none;
  }
}

.home__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .home__container {
    justify-content: center;
    margin: 0;
    padding-top: 0;
    background-color: #f2f2f2;
  }
  .home__container__cards {
    width: 29rem;
    height: 280px;
    border-radius: 20px;
    margin: 1.5rem 3rem;
    position: relative;
    box-shadow: 0px 31px 40px -8px rgba(218, 218, 218, 0.75);
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .home__container__cards {
    margin: 0 0 1.5rem 0;
    max-width: 100%;
    height: auto;
  }
  .home__container__cards:hover {
    filter: brightness(110%);
    box-shadow: -1px 8px 38px 1px rgba(125, 124, 124, 0.75);
  }
}

.card__badge {
  position: absolute;
  left: 365px;
  bottom: 225px;
  background: #99e2d0;
  padding: 0.6rem;
  color: #01946f;
  border-radius: 3px;
}
@media screen and (max-width: 768px) {
  .card__badge {
    font-size: 15px;
    font-weight: 600;
    border-radius: 2px;
    top: 4%;
    left: 74%;
    right: 3%;
    width: 80px;
    height: 35px;
    text-align: center;
  }
  .card__badge__img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 180px;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  border-radius: 0 0 20px 20px;
  line-height: 33px;
}
@media screen and (max-width: 768px) {
  .card__content {
    line-height: 20px;
  }
  .card__content__title {
    color: #000;
    padding: 0.6em 0 0.4rem 0.9rem;
  }
  .card__content__title__location {
    color: #000;
    padding: 0 0 0.9rem 0.9rem;
  }
}

footer {
  background: #414343;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  footer {
    justify-content: start;
  }
}

.footer__container {
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }
  .footer__container__logo {
    font-size: 1.2rem;
    color: #fff;
    font-family: "Shrikhand";
    display: flex;
    margin: 0rem 0 2rem 0;
    justify-content: start;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .footer__container__logo {
    margin: 0;
  }
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .footer__list {
    align-items: start;
    margin: 0rem 0rem 1rem 0;
    flex-direction: column;
  }
  .footer__list__content {
    margin-right: 4rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 992px) {
  .footer__list__content {
    margin-right: 2.2rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 992px) and (max-width: 768px) {
  .footer__list__content {
    height: 35px;
    padding: 1.2rem 0;
  }
  .footer__list__content__link {
    color: #fff;
  }
}

.footer__icon {
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .footer__icon .fas.fa-utensils {
    margin-right: 17px;
  }
  .footer__icon .fas.fa-utensils .fas.fa-hands-helping {
    transform: rotate(-13deg);
  }
}

/*# sourceMappingURL=style.css.map */
