
//  HOME PAGE HERO SECTION  //

.hero {
	@include flexible;
	flex-direction: column;
	@include mobile-only {
		background-color: $color-adjust;
	}
	&--position {
		padding: 5rem 2rem;
		background-image: repeating-linear-gradient(105deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 28px),repeating-linear-gradient(333deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 28px),linear-gradient(90deg, rgb(255,121,218),hsl(351.429,76%,69%),rgb(153,226,208),hsl(94.286,76%,69%),hsl(145.714,76%,69%),rgb(147,86,220),hsl(248.571,76%,69%));
		background-position: center;
		background-size: cover;
		@include mobile-only {
			background-image: none;
			background-color: $color-background;
			padding-top: 1rem;
			padding-bottom: 0.4rem;
		}
	}
}


.hero__title {
	@include text-size(2.1rem);
	text-align: center;
	padding: $col-gap;
	@include mobile-only {
		font-size: 1.6rem;
		padding-bottom: 1.1rem;
	}
}

.hero__byline {
	@include text-size;
	@include mobile-only {
		font-size: 1rem;
		text-align: center;
	}
}


//  RESATURANTS HERO SECTION  //

.hero__img {
	@include img-position;
	@include mobile-only {
		max-height: 25rem;
	}
}
