/*****  HERO SECTION INDEX STARTS *****/

.hero {
    @include flexible;
    flex-direction: column;
    @include mobile-only {
        background-color: $color-adjust;
        &--position {
            padding: 5rem 2rem;
            background-image: linear-gradient(270deg, #f5f7fa 0%, #e1fff3 100%);
            background-position: center;
            background-size: cover;
            @include mobile-only {
                background-color: #edeaed;
                padding-top: 1rem;
                padding-bottom: 0.4rem;
            }
        }
    }
}


.__title {
    @include text-size(2.1rem);
    padding: 2rem;
    @include mobile-only {
        font-size: 1.6rem;
        padding-bottom: 1.1rem;
        &__byline {
            @include text-size;
            @include mobile-only {
                font-size: 1rem;
            }
        }
    }
}

/*****  HERO SECTION INDEX ENDS *****/




/*****  HERO SECTION A LA FRANCAISE STARTS *****/

.hero__img {
    @include img-position;
}

/*****  HERO SECTION A LA FRANCAISE ENDS *****/