
//  ANIMATION LOADER  //

.loader {
    background: $color-white;
    opacity: 0.9;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 100;
    @include flexible;
    animation: loader 4s linear forwards;
}



//  INTEGRATION ANIMATION MULTI-BROWSER  //
 
.loader__item__container {
    @include flexible;
    .loader__container{
        -webkit-animation:animball_two 1s infinite linear;
        -moz-animation:animball_two 1s infinite linear;
        -ms-animation:animball_two 1s infinite linear;
        animation:animball_two 1s infinite linear;
        animation-fill-mode: forwards;
        animation-iteration-count: 4;
        width:184px;
        height:184px;
    }
}

.ballcolor{
    width:184px;
    height:184px;
    border-radius:50%;
} 
.ball_1, .ball_2, .ball_3, .ball_4  {
    position:absolute;
} 
    
.ball_1 {
    border: 5px solid $color-primary;
    top: 0;
    left: 12px;
}
.ball_2 {
    border: 5px solid $color-tertiary;
    top: 0;
    left: -17px;
}
.ball_3 {
    border: 5px solid $color-secondary;
    top: 12px;
    left: 0;
}
.ball_4 {
  border: 5px solid $color-secondary;
  top: -12px;
  left: 0;
}

    
@-webkit-keyframes animball_two {
  0% {
      -webkit-transform:rotate(0deg);
  } 
  100% {
      -webkit-transform:rotate(360deg);
  }
} 
  
@-moz-keyframes animball_two {
  0% {
      -moz-transform:rotate(0deg); 
  } 
  100% {
      -moz-transform:rotate(360deg);
  }
} 
  
@-ms-keyframes animball_two {
  0% {
      -ms-transform:rotate(0deg);
  }
  100% {
      -ms-transform:rotate(360deg); 
  }
} 

@keyframes animball_two {
  0% {
      transform:rotate(0deg);
  } 
  100% {
      transform:rotate(360deg);
  }
}

@keyframes loader  {
  0%,99% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}




//  ANIMATION RESTAURANTS SLIDE UP APPARITION  //

.menu__item {
  animation: slideup 1s forwards;
}
.menu__item:nth-child(2) {
  animation-delay: 300ms;
}
.menu__item:nth-child(3) {
  animation-delay: 400ms;
}
.menu__item:nth-child(4) {
  animation-delay: 500ms;
}
.menu__item:nth-child(5) {
  animation-delay: 600ms;
}
.menu__item:nth-child(6) {
  animation-delay: 700ms;
}
.menu__item:nth-child(7) {
  animation-delay: 900ms;
}
.menu__item:nth-child(8) {
  animation-delay: 1000ms;
}
.menu__item:nth-child(9) {
  animation-delay: 900ms;
}



@keyframes slideup {
  0% {
    transform: translatey(-120px);
    opacity: 0%; 
  }
  50% {
    opacity: 50%; 
  }
  100% {
      transform: translatey(0px);
      opacity: 100%;
  }
}



/*  ANIMATION HOME PAGE ICONS */

.menu__btn {
  position: relative;
  left: 85%;
  top: -55px;
  display: block;
  width: 0;
  font-size: 0.8rem;
} 

.fav__icon--add {       
  opacity: 1;
  color: $color-black;
}

.fav__icon--add:hover {     
  opacity: 0;
  transform: scale(0);
}

.fav__icon { 
  opacity: 0;
  position: absolute;
  top: 0;
}

.fav__icon:hover {      
  opacity: 1;
  background-image: $icon-gradient;
  @include adaptation;
  transform: scale(1.1);
  transition: all 0.7s ease-in-out;
}



//  ANIMATION FAVORITE ICONS RESTAURANTS   //

.favorite__icon {
    opacity: 0;
    cursor: pointer;
    grid-area: 1/2;
    position: relative;
    width: 28px;
    height: 28px;
    &:hover {
        background-image: $icon-gradient;
        @include adaptation;
        transition: 0.7s ease-in-out;
        width: min-content;
        opacity: 1;
        transform: scale(1.1);
        @include tablet-only {
          width: min-content;
        }
        @include mobile-only {
            width: 100%;
        }
    }
}

.favorite__icon--add {
    opacity: 1;
    cursor: pointer;
    grid-area: 1/2;
    width: 28px;
    height: 28px;
    min-height: auto;
    min-width: auto;
    display: block;
    &:hover {
        opacity: 0;
    }
}
 


  //  ANIMATION VALIDATION MENU STARTS  //

.menu__item__confirmation {
    background-color: $color-tertiary;
    cursor: pointer;
    height: auto;
    width: 0;
    opacity: 0;
    border-radius: 0 15px 15px 0;
    @include flexible;
    transition: 0.4s ease-in-out;
}
.menu__item:hover .menu__item__confirmation  {
    width: 18%;
    transition: 0.4s ease-in;
    opacity: 1;
    @include mobile-only {
      width: 20%;
    }
    .check__icon {
      animation: rotating 0.5s ease-in-out;
    }
}

span.check__icon {
  color: $color-white;
  font-size: 2.3rem;
  @include mobile-only {
    font-size: 1.9rem;
  }
}


@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
