
//  ANIMATION LOADER ENDS  //

.loader {
    background: $color-white;
    opacity: 0.9;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 100;
    @include flexible;
    animation: loader 4s linear forwards;
}
 
    &__itemContainer {
        @include flexible;
        &__container{
            -webkit-animation:animball_two 1s infinite linear;
            -moz-animation:animball_two 1s infinite linear;
            -ms-animation:animball_two 1s infinite linear;
            animation:animball_two 1s infinite linear;
            animation-fill-mode: forwards;
            animation-iteration-count: 4;
            width:184px;
            height:184px;
    }
}

.ballcolor{
    width:184px;
    height:184px;
    border-radius:50%;
} 

.ball_1, .ball_2, .ball_3, .ball_4  {
    position:absolute;
} 
    
&_1 {
    border: 5px solid #ff79da;
    top: 0;
    left: 12px; 
    &_2 {
        border: 5px solid #99E2D0;
        top: 0;
        left: -17px;
    }
}
    
&_3 {
    border: 5px solid #9356dc;
    top: 12px;
    left: 0;
    &_4 {
        border: 5px solid #9356DC;
        top: -12px;
        left: 0;
    }
} 
    
@-webkit-keyframes animball_two {
  0% {
      -webkit-transform:rotate(0deg);
  } 
  100% {
      -webkit-transform:rotate(360deg);
  }
} 
  
@-moz-keyframes animball_two {
  0% {
      -moz-transform:rotate(0deg); 
  } 
  100% {
      -moz-transform:rotate(360deg);
  }
} 
  
@-ms-keyframes animball_two {
  0% {
      -ms-transform:rotate(0deg);
  }
  100% {
      -ms-transform:rotate(360deg); 
  }
} 

@keyframes animball_two {
  0% {
      transform:rotate(0deg);
  } 
  100% {
      transform:rotate(360deg);
  }
}

@keyframes loader  {
  0%,99% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}




//  ANIMATION RESTAURANTS SLIDE UP APPARITION  //

.menu__description article {
  animation: slideup 0.1s linear ease-in-out;
}


@keyframes slideup {
  0% {
    transform: translatey(-170px);
    opacity: 0;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      transform: translatey(0px);
      opacity: 1;
  }
}



/*  ANIMATION HOME PAGE ICONS */

.menu__btn i {
    position: relative;
    left: 405px;
    top: -65px;
    color: black;
    display: block;
    font-size: 25px;
}

.card__like {
    width: 15%;
    height: 0;
}


.card__like:hover {
    left: 405px;
    bottom: 0;
   height: 100%;
   background: #fff;
   transition: all 0.4s linear 0s;

}

.fas.fa-heart {
    opacity: 0;
}

.fas.fa-heart:hover {
    opacity: 1;
    color: #ff79da;
    background-color: linear-gradient(162deg, #ff79da 50%, #9356dc 100%);
}



   //  ANIMATION FAVORITE ICONS RESTAURANTS   //


.favorite__icon {
  opacity: 0;
  cursor: pointer;
  @include adaptation;
  transition: 0.7s ease-in-out;
  grid-area: 1/2;
  position: relative;
  width: 28px;
  height: 28px;
  &:hover {
    background: $color-gradient;
    @include adaptation;
    width: 15%;
    opacity: 1;
    @include mobile-only {
      width: 100%;
      &--add {
        opacity: 1;
        cursor: pointer;
        grid-area: 1/2;
        width: 28px;
        height: 28px;
        min-height: auto;
        min-width: auto;
        display: block;
        &:hover {
          opacity: 0;
        }
      }
    }
  }
}
 

  //  ANIMATION VALIDATION MENU STARTS  //


.menu__item:hover .menu__item__confirmation {  
  width: 15%;
  transition: 0.4s ease-in;
  opacity: 1;
  @include mobile-only {
    width: 20%;
    & {
      background-color: $color-tertiary;
      cursor: pointer;
      height: auto;
      width: 0;
      opacity: 0;
      border-radius: 0 15px 15px 0;
      @include flexible;
      transition: 0.4s ease-in-out;
      span.check__icon {
        color: $color-white;
        font-size: 2.3rem;
        @include mobile-only {
          font-size: 1.9rem;
          &:hover  {   
            transform: rotate(360deg);
            transition: 0.4s ease-in-out;
          }
        }
      }
    }
  }
}